html, body {
    height: 100%;
}
.navbar-right {
    margin-top: 5px;
}
.navbar {
    height: 100px;
    padding: 25px;
}
.clear-top {
    margin-top: 50px;
}
#wrap {
    min-height: 90%;
}
#main {
    padding-top: 50px;
    overflow:auto;
    padding-bottom:50px; /* this needs to be bigger than footer height*/
}
.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:20px;
}
